<!DOCTYPE html>
<html>

<head>
  <style>
  body {
      display:flex;
      justify-content: space-around;
    }
    .col {
      width: 50%;
      display: inline-flex;
    }
      #map {
        width: 50%;
        height: 400px;
      }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
  {{{body}}}

</body>

</html>
