<!DOCTYPE html>
<html>

<head>
    <title>Daylight length from anywhere</title>
    <meta property="og:url" content="http://test.netsi.io/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Daylight length from anywhere" />
    <meta property="og:description" content="See curves of the daylight length from anywhere on the earth." />
    <meta property="og:image" content="https://dl.dropboxusercontent.com/u/3260327/test.netsi.io.png" />

    <style>
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
        body {
            font-family: 'Open Sans', sans-serif;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .visual,
        .info {
            display: flex;
            flex-direction: row;
        }

        .col {
            width: 50%;
            display: inline-flex;
        }

        #map {
            width: 50%;
            height: 400px;
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            .visual,
            .info {
                flex-direction: column;
            }
        }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>
