<style media="screen">
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800);


body {
  font-family: 'Open Sans', sans-serif;
}
pre {
  font-family: 'Inconsolata', monospace ;
}

</style>
<h1>Hello</h1>
<pre>
  File rendered {{date}} for:
  {{{req.headers}}}
</pre>
